*{
    margin: 0;
    padding: 0;
}

body {

    background-image: url(arte.jpg);
    background-size: cover;

}

.titulo{
    font-family: sans-serif;
    color: #000000;
    margin-left: -15%;
}

.subtitulo{
    font-family: sans-serif;
    color: #000000;
    margin-left: 10%;
}
fieldset{
    border: 0;
}

body{

    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{

    border-radius: 5px;

}
.campo{
    margin-bottom: 1em;
    

}

.campo label{

    margin-bottom: 0.2em;
    color: #000000;
    display: block;

}

fieldset.grupo .campo{

    float: left;
    margin-right: 1em;
    

}

.campo input[type="text"], .campo input[type="email"], .campo select {

    padding: 0.2em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}


.campo select option{

    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{

    background: #E0E0F8;
}

.button{

    font-size: 1.2em;
    background: #59429D;
    border: 0;
    margin-bottom: 1em;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);    
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 106%;
    left: 24%;
    align-items: center;
    margin-right: -40%;
    transform: translate(-50%, -50%);

}


#experiencia {

    width: 60px;
    height: 60px;

}

.button:houver{

    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

#check{

    display: flex;
    gap: 10px;
}

.rodape {

    padding: 32px;
    height: 48px;
    display: block;
    margin: 0 auto;

}



